
@import "screen/main.css";
@import "screen/community.css";
@import "screen/diag.css";

.fa-house{
    color:black;
    font-size: 4vh;
}
.tohome{
    position: absolute;
    left: 4vw;
    top:2vh;
}